<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.web.hissafy.dto.ProDto" alias="ProDto" />
		<typeAlias type="com.web.hissafy.dto.StudentDto" alias="StudentDto" />
		<typeAlias type="com.web.hissafy.dto.AttendanceDto" alias="AttendanceDto" />
	</typeAliases>

	<mappers>
		<mapper resource="mybatisMapper/proSQLMapper.xml" />
		<mapper resource="mybatisMapper/studentSQLMapper.xml" />
		<mapper resource="mybatisMapper/attendanceSQLMapper.xml" />
	</mappers>
</configuration>