<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hissafy.earlyleave">
	<insert id="insert" parameterType="EarlyLeaveDto">
		insert into earlyleave
		(student_id, earlyleave_date, division, sort, reason, leaving_time, approval_state)
		values(
		#{student_id},
		${earlyleave_date},
		#{division},
		#{sort},
		#{reason},
		#{leaving_time},
		#{approval_state}

		)
	</insert>

	<update id="update" parameterType="EarlyLeaveDto">
		update earlyleave set
		division=#{division},
		sort=#{sort},
		reason=#{reason},
		leaving_time=#{leaving_time},
		approval_state=#{approval_state}
		where
		student_id= #{student_id} and earlyleave_date=#{earlyleave_date}
	</update>


	<select id="selectOne" parameterType="EarlyLeaveDto"
		resultType="EarlyLeaveDto">
		select student_id, division, sort, reason, leaving_time,
		approval_state
		from earlyleave
		where
		student_id = #{student_id} and earlyleave_date=#{earlyleave_date}
	</select>
	
	<select id="selectList" resultType="EarlyLeaveDto">
		select student_id, division,
		sort, reason, leaving_time, approval_state
		from earlyleave
	</select>
	<select id="selectDateList" parameterType="string" resultType="EarlyLeaveDto" >
		select student_id, division,
		sort, reason, leaving_time, approval_state
		from earlyleave
		where earlyleave_date=#{earlyleave_date}
	</select>
	
	<delete id="delte" parameterType="string">
		delete from earlyleave where student_id = #{student_id}
	</delete>


</mapper>